html,body{
    background-color: #E6AA68
   
    
}
#headerContainer{
    background-color: #7FB069 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0px;
    padding: 40px;
}

#bigHeader{
    font-size: 2rem;
    padding: 20px;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 align-items: center;
}



.aboutHead{
    font-size: 2rem;
    color: yellow;
}

.aboutPar{
    font-size: 1rem;
    color: yellow;
}


.menuItem{
    
}