html,body{
    background-color: blue;
   
    
}


#header{
    background-color: red;
    display: flex;
    justify-content: center;
    
    margin: 0px;
    padding: 40px;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 align-items: center;
}



.aboutHead{
    font-size: 2rem;
    color: yellow;
}

.aboutPar{
    font-size: 1rem;
    color: yellow;
}